@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    scroll-behavior: smooth;
}



    body {
        font-family: "poppins",sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        background-blend-mode:overlay;
        backdrop-filter: blur(2px);
        background-image: url(cardano-blockchain-platform-collage.jpg);
        background-size: cover;
        
    }
    .container {
        /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
        max-width: 100%;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        background-blend-mode:overlay;
        backdrop-filter: blur(2px);
        
        background-image: url(cardano-blockchain-platform-collage.jpg);
        background-size: cover;
        
        
        
    }
    .easymath{
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center ;
        text-align: center;
        background-blend-mode:overlay;
        backdrop-filter: blur(2px);
        background-image: url(cardano-blockchain-platform-collage.jpg);
        background-size: cover;
        
    }

    .column {
        width: 90%;

    }
    .dic{
        display: flex;
        flex-direction:row;
    }

    .input-group {
        margin-bottom: 15px;
        width: 200px;
        float: left;
       
        
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-family: "poppins",sans-serif;
     font-size: 15px;
     float: left;
    }

    input[type="number"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    button {
        display: block;
        width: 200px;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #0056b3;
    }

    .column2{
padding: 10px;
    }
    .result {
    
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 80px;
    }
    

    .result.green {
        background-color: lightgreen;
        margin: 0px 0px 10px 3px;
        width: 150px;
    }

    .result.blue {
        background-color: lightblue;
        margin: 0px 0px 10px 3px;
        width: 150px;
    }
    
    .result.pink {
        background-color: lightpink;
        margin: 0px 0px 10px 3px;
        width: 130px;
    
    }


     .calculator {
        height: 340px;
            max-width: 500px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            background-blend-mode:overlay;
            backdrop-filter: blur(2px);
            background-image: url(cardano-blockchain-platform-collage.jpg);
            background-size: cover;
            
        }

        h2 {
            text-align: center;
        }
/* 
        form {
            display: flex;
flex-direction: column; */
        .dic2{
            display: flex;
        }
        label {
            margin-bottom: 5px;
        }

        input {
            margin-bottom: 10px;
            padding: 5px;
            width: 58px;
        }

        button {
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        #result {
            margin-top: 20px;
            
        }

        .blue {
            margin-left: 20px;
            color: blue;
            /* margin-top: 10px; */
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width:110px;
            background-color: lightblue;
        }

        .green {
            margin: 20px;
            color: green;
            /* margin-top: 10px; */
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 110px;
            background-color: lightgreen;
        }

      
       /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        margin: 30px 10px;
        max-width: 75%;
    }
    .column {
        margin: 10px 10px;
    }
    .dic {
        flex-direction: row;
    }
    .input-group {
        width: 130px;
        float: left;
    }
    .input-group label{
        font-size: 12px;
    }
    .calculator {
        max-width: 75%;
        margin: 20px 10px;
    }
    input[type="number"] {
        width: 110px;
        float: left;
    }
    .blue, .green {
        width: 75px;
        margin: 10px 10px;
        
    }
    button{
    width:110px ;
    }
    .column2{
        padding: 1px;
            }
            .result {
            
                padding: 5pxpx;
                border: 1px solid #ccc;
                border-radius: 5px;
                width: 10px;
            }
            
        
            .result.green {
                background-color: lightgreen;
                margin: 0px 0px 10px 0px;
                width: 50px;
                overflow: scroll;

            }
    
            .result.blue {
                overflow: scroll;
                background-color: lightblue;
                margin: 0px 0px 10px 0px;
                width: 50px;
            }
            
            .result.pink {
                overflow: scroll;
             
                background-color: lightpink;
                margin: 0px 0px 10px 0px;
                width: 30px;
            
            }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* Add your specific styles here */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Add your specific styles here */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* Add your specific styles here */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* Add your specific styles here */
}
